{% load staticfiles %}

<!DOCTYPE html>

<html lang="en-US">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name='robots' content='noindex,follow'>

  <!-- Page Title -->
  <title>Blog - Ankirama</title>

  <!-- Favicons -->
  <link rel="icon" type="image/png" href="{% static 'assets/images/favicon.png' %}">

  <!-- Bootstrap Styles -->
  <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}" type="text/css" media="all">

  <link rel="stylesheet" href="{% static 'assets/css/codehilite.css' %}" type="text/css" media="all">

  <!-- Component Styles -->
  <link rel="stylesheet" href="{% static 'assets/mtphr-rotator/mtphr-rotator.css' %}" type="text/css" media="all">
	<link rel="stylesheet" href="{% static 'assets/mtphr-tabs/mtphr-tabs.css' %}" type="text/css" media="all">

	<!-- Animate Styles -->
	<link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}" type="text/css" media="all">

  <!-- Apex Styles -->
  <link rel="stylesheet" href="{% static 'assets/fontastic/styles.css' %}" type="text/css" media="all">
  <link rel="stylesheet" href="{% static 'assets/css/main.css' %}" type="text/css" media="all">

  <!-- Custom Styles -->
  <link rel="stylesheet" href="{% static 'assets/css/custom.css' %}" type="text/css" media="all">

  <!-- Load Modernizr -->
  <script type="text/javascript" src="{% static 'assets/js/modernizr-2.6.2.min.js' %}"></script>

  <!--[if lt IE 9]>
  <script type="text/javascript" src="{% static 'assets/js/respond.min.js' %}"></script>
  <![endif]-->

  <!-- highlight.js Coloration -->
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.7/styles/monokai.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.7/highlight.min.js"></script>

</head>

<body class="apex-hide-nav">


	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<!-- !Header element -->
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

  <div id="blog-header" class="apex-header apex-section apex-style-dark" data-mtphr-parallax-speed="6">

		<!-- Background pattern overlay -->
	  <div class="apex-section-overlay"></div>

	  <div class="apex-section-inner">
	    <div class="container">

	    	<!-- Start section header -->
	      <div class="section-header wow fadeIn">
	        <h1 class="section-title">Blog Project</h1>
	        <div class="section-header-sep"><span></span></div>
	        <h4 class="section-tagline">Ce blog personnel regroupera plusieurs articles n'ayant pas de rapport autour de l'informatique</h4>
	      </div>
	      <!-- End section header -->

	      <span id="breadcrumbs" class="wow fadeIn" data-wow-delay=".25s">
	      	<span><span><a href="{% url 'blog:index' %}">Blog</a></span></span>
	      </span>

      </div><!-- .container -->
    </div><!-- .apex-section-inner -->
  </div><!-- .apex-section -->


  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<!-- !Main wrapper -->
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

  <div id="wrapper">



	  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
		<!-- !Main content -->
		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

	  <div id="main" role="main">



			<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
			<!-- !Start section -->
			<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

	    <section class="apex-section">

	    	<!-- Background pattern overlay -->
	      <div class="apex-section-overlay"></div>

	      <div class="apex-section-inner">
	        <div class="container">

		        <div class="row">

	            <div class="col-sm-9 primary">

                {% block blog_posts %} {% endblock %}

								<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
								<!-- !Start content navigation -->
								<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
								
								{% if is_paginated %}

								<div class="content-nav clearfix wow fadeIn">
									<ul>
									  <li {% if not page_obj.has_previous %}class="disabled"{% endif %}>
									    <a {% if page_obj.has_previous %}href="?page={{ page_obj.previous_page_number }}"{% endif %}>Precedent</a>
									  </li>
									  <li {% if not page_obj.has_previous %}class="disabled"{% endif %}>
									    <a {% if page_obj.has_next %}href="?page={{ page_obj.next_page_number }}"{% endif %}>Suivant</a>
									  </li>
									</ul>
								</div>

								{% endif %}
								<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
								<!-- !End content navigation -->
								<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->



	            </div><!-- .primary -->

	            <div class="col-sm-3 secondary">

	            	<!-- Start widget
	            	<aside class="widget widget-search">
	          			<div class="search-container">
	          				<input class="form-control" type="text" placeholder="Search blog..." />
	          				<button type="submit" name="submit"><i class="apex-icon-zoom"></i></button>
	          			</div>
	            	</aside>
	            	 End widget -->

	            	<!-- Start widget
	            	<aside class="widget">
	          			<h3 class="widget-title">Text</h3>
	          			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
	            	</aside>
	             End widget -->

	          	  <!-- Start widget block blog_tags a mettre ici -->
                {% block blog_tags %} {% endblock %}
	            	<!-- End widget -->

	            	<!-- Start widget
	            	<aside class="widget widget-tagcloud">
	          			<h3 class="widget-title">Tags</h3>
	          			<div class="tagcloud">
	          				<a href="#">Design</a>
	          				<a href="#">Architecture</a>
	          				<a href="#">Media</a>
	          				<a href="#">Technology</a>
	          				<a href="#">Photography</a>
	          				<a href="#">Video</a>
	          				<a href="#">Abstract</a>
	          			</div>
	            	</aside>
	            	 End widget -->

	            </div><!-- .secondary -->

	          </div><!-- .row -->

	        </div><!-- .container -->
	      </div><!-- .apex-section-inner -->
	    </section><!-- .apex-section -->

	    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
			<!-- !End section -->
			<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->



			<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
			<!-- !Start section -->
			<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

      <section id="contact" class="apex-section apex-style-dark">

	      <!-- Background pattern overlay -->
	      <div class="apex-section-overlay"></div>

	      <div class="apex-section-inner">
	        <div class="container">

	        	<!-- Start section header -->
		        <div class="section-header wow fadeIn">
		          <h1 class="section-title">Contactez moi</h1>
		          <div class="section-header-sep"><span></span></div>
		          <h4 class="section-tagline">Si vous avez la moindre question n'hesitez pas à me contacter</h4>
		        </div>
		        <!-- End section header -->

	          <div class="row wow fadeIn" data-wow-delay=".25s">

	          	<div class="col-sm-4 col-md-3 col-sm-push-8 col-md-push-8 secondary">

	            	<!-- Start widget -->
	            	<aside class="widget">

	          			<table class="apex-contact-table">
	          				<tr>
	            				<th>
		            				<!-- Start icon -->
		                  	<span class="apex-icon clearfix">
		                			<i class="apex-icon-email"></i>
		              			</span>
			            			<!-- End icon -->
	            				</th>
	            				<td><a href="mailto:company@email.com">ankirama@gmail.com</a></td>
	          				</tr>
	          			</table>

	            	</aside>
	            	<!-- End widget -->

	            </div><!-- .secondary -->

	            <div class="col-sm-8 col-md-7 col-sm-pull-4 col-md-pull-3 col-md-offset-1 primary">

	              <article>
                  <p>Il n'y a pas encore de formulaire pour me contacter, utilisez donc mon mail si vous avez la moindre question</p>
	              </article>

	            </div><!-- .primary -->

	          </div><!-- .row -->
	        </div><!-- .container -->
	      </div><!-- .apex-section-inner -->
	    </section><!-- .apex-section -->

	    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
			<!-- !End section -->
			<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->



	  </div><!-- #main -->



		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
		<!-- !Site Footer -->
		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

	  <footer id="site-footer" role="contentinfo">
	    <div class="container">
	      <div class="row">

	        <div id="apex-social-links" class="col-sm-6 col-sm-push-6 clearfix">
		        <div class="wrapper clearfix">
		          <a class="apex-icon" href="https://fr.linkedin.com/in/fabienmartinez" target="_blank">
			          <i class="apex-icon-linkedin"></i>
		          </a>
		        </div>
	        </div><!-- #apex-social-links -->

	        <div id="apex-copyright" class="col-sm-6 col-sm-pull-6">
		        <div class="wrapper clearfix">
	            <p>Copyright © 2012 APEX. All Rights Reserved.<br>
	            Theme design by <a href="http://themeforest.net/user/digitalscience" target="_blank">digitalscience</a> &amp; <a href="http://themeforest.net/user/JoeMC" target="_blank">Metaphor Creations</a></p>
		        </div>
	        </div><!-- #apex-copyright -->

	      </div><!-- .row -->

	      <a id="apex-totop" href="#"><i class="apex-icon-arrow-up-short"></i></a>

	    </div><!-- .container -->
	  </footer><!-- #site-footer -->



  </div><!-- #wrapper -->




  <a id="apex-totop-float" href="#"><i class="apex-icon-arrow-up"></i></a>




	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<!-- !Footer scripts -->
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

	<!-- Load jQuery via Google CDN -->
  <script type="text/javascript" src="{% static 'assets/js/jquery-1.11.1.min.js' %}"></script>

	<!-- Load Ajax Form script -->
	<script type="text/javascript" src="{% static 'assets/js/jquery.form.min.js' %}"></script>

	<!-- Load Validate script -->
	<script type="text/javascript" src="{% static 'assets/validate/jquery.validate.min.js' %}"></script>

	<!-- Load jQuery easing script -->
	<script type="text/javascript" src="{% static 'assets/js/jquery.easing.1.3.js' %}"></script>

	<!-- Load Touch Swipe script -->
	<script type="text/javascript" src="{% static 'assets/js/jquery.touchSwipe.min.js' %}"></script>

	<!-- Load Parallax script -->
	<script type="text/javascript" src="{% static 'assets/mtphr-parallax/mtphr-parallax.js' %}"></script>

	<!-- Load Fitvids script -->
	<script type="text/javascript" src="{% static 'assets/js/jquery.fitvids.js' %}"></script>

	<!-- Load Metaphor Rotator scripts -->
	<script type="text/javascript" src="{% static 'assets/mtphr-rotator/mtphr-rotator.js' %}"></script>

	<!-- Load Metaphor Tabs scripts -->
	<script type="text/javascript" src="{% static 'assets/mtphr-tabs/mtphr-tabs.js' %}"></script>

	<!-- Load WOW scripts -->
	<script type="text/javascript" src="{% static 'assets/js/wow.min.js' %}"></script>

	<!-- Load Apex scripts -->
	<script type="text/javascript" src="{% static 'assets/js/script.js' %}"></script>



	<script type="text/javascript">

		jQuery( document ).ready( function($) {

			// Setup strict mode
			(function() {

		    "use strict";


				/* --------------------------------------------------------- */
				/* !Setup parallax elements */
				/* --------------------------------------------------------- */

				$('html.no-touch .apex-header').mtphr_parallax();


				/* --------------------------------------------------------- */
				/* !Initiate fitVids */
				/* --------------------------------------------------------- */

				$('article').fitVids();


				/* --------------------------------------------------------- */
				/* !Setup the tabs */
				/* --------------------------------------------------------- */

				$('.mtphr-tabs').mtphr_tabs({
					anim_ease : 'easeInOutQuint',
				});


				/* --------------------------------------------------------- */
				/* !Setup WOW */
				/* --------------------------------------------------------- */

				var wow = new WOW({
					offset: 150,
					mobile: false
				});
				wow.init();

			}());

		});

		jQuery( window ).load( function() {

			// Setup strict mode
			(function() {

		    "use strict";

				/* --------------------------------------------------------- */
				/* !Setup the rotators */
				/* --------------------------------------------------------- */

				jQuery('.entry-featured .mtphr-rotator').mtphr_rotator({
					'auto_rotate': 1,
					'delay': 6,
					'rotate_speed': 7
				});

			}());

		});

	</script>
</body>
</html>
